@model sdnugmeetinghtmlfragmentgenerator.Models.HtmlFragmentCreateVM
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">            
            <p>
                Use this page to generate the necessary HTML Fragment for the .NET User Group Website until I can get it rewritten
            </p>
        </div>
    </section>
}
<h3>Meeting Information</h3>

@if (!string.IsNullOrWhiteSpace(Model.HtmlFragment))
{
    <div id="tabs">
        <ul>
            <li><a href="#websiteHtml">Website HTML</a></li>
            <li><a href="#letterText">Letter Text</a></li>
        </ul>
        <div id="websiteHtml">
            <p>@Model.HtmlFragment</p>        
        </div>
        <div id="letterText">
            <p>// Coming Soon</p>
        </div>
    </div>
    
}
<p>
    @using (var form = Html.BeginForm())
    {
        <div>
            <div>@Html.LabelFor(x => x.MeetingDate)</div>
            <div>@Html.TextBoxFor(x => x.MeetingDate, "{0:MM/dd/yyyy}", new { @class = "datepicker" })</div>
        </div>
        
        <div>
            <div>@Html.LabelFor(x => x.SpeakerName)</div>
            <div>@Html.TextBoxFor(x => x.SpeakerName)</div>
        </div>
        
        <div>
            <div>@Html.LabelFor(x => x.SpeakerBio)</div>
            <div>@Html.TextAreaFor(x => x.SpeakerBio, new { rows = 5 })</div>
        </div>
        
        <div>
            <div>@Html.LabelFor(x => x.MeetingTopic)</div>
            <div>@Html.TextBoxFor(x => x.MeetingTopic)</div>
        </div>
        
        <div>
            <div>@Html.LabelFor(x => x.MeetingTopicSummary)</div>
            <div>@Html.TextAreaFor(x => x.MeetingTopicSummary, new { rows = 5 })</div>
        </div>
        
        <div>
            <div>@Html.LabelFor(x => x.RSVPFacebookLink)</div>
            <div>@Html.TextBoxFor(x => x.RSVPFacebookLink)</div>
        </div>
        
        <input type="submit" value="Generate HTML" />
    }
</p>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    <script>
        $(function() {
            $('input.datepicker').datepicker();
            $('#tabs').tabs();
        });
    </script>
}