@model sdnugmeetinghtmlfragmentgenerator.Models.HtmlFragmentCreateVM
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">            
            <p>
                Use this page to generate the necessary HTML Fragment for the .NET User Group Website until I can get it rewritten
            </p>
        </div>
    </section>
}
<h3>Meeting Information</h3>

@if (!string.IsNullOrWhiteSpace(Model.HtmlFragment))
{
    <p>
        @Model.HtmlFragment
    </p>
}
<p>
    @using (var form = Html.BeginForm())
    {
        <div>
            <div>@Html.LabelFor(x => x.MeetingDate)</div>
            <div>@Html.TextBoxFor(x => x.MeetingDate)</div>
        </div>
        
        <div>
            <div>@Html.LabelFor(x => x.SpeakerName)</div>
            <div>@Html.TextBoxFor(x => x.SpeakerName)</div>
        </div>
        
        <div>
            <div>@Html.LabelFor(x => x.SpeakerBio)</div>
            <div>@Html.TextBoxFor(x => x.SpeakerBio)</div>
        </div>
        
        <div>
            <div>@Html.LabelFor(x => x.MeetingTopic)</div>
            <div>@Html.TextBoxFor(x => x.MeetingTopic)</div>
        </div>
        
        <div>
            <div>@Html.LabelFor(x => x.MeetingTopicSummary)</div>
            <div>@Html.TextBoxFor(x => x.MeetingTopicSummary)</div>
        </div>
        
        <div>
            <div>@Html.LabelFor(x => x.RSVPFacebookLink)</div>
            <div>@Html.TextBoxFor(x => x.RSVPFacebookLink)</div>
        </div>
        
        <input type="submit" value="Generate HTML" />
    }
</p>